*{
    margin:1%;
}
#one{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.navoptions{
    text-align: center;
}
.banner{
    display:contents;
    background-image: url("banner.png");
    background-size: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    display:block;
    font-size:40px;
}