.navoptions{
    text-align: center;
}
.banner{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.557),rgba(0,0,0,0.5)), url("Banner Image.png");
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    display:block;
    font-size:40px;
}